# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Dropbox\zFiles\LearningCode\byAuthor\AngelaYu\WebDevBootcamp\Chapter4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
